/* MatchSchedule.css */
.match-schedule-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
  background-color: #fff;
  border-radius: 16px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
}

.match-schedule-image {
  max-width: 100;
  height: auto;
  border-radius: 12px;
  margin-bottom: 20px;
}

